@{
    ViewData["Title"] = "Home Page";
}

@model noSQLportal.Models.ArticlesViewModel

<br>
<div class="container">

    @foreach (var item in Model.Articles)
    {
        <div class="row">
            <div class="col-6 col-md-4">
                <h4>@item.Title</h4>
                <p>@item.Content</p>
                <h5> Author: @item.Author</h5>
            </div>
            <div class="col-6 col-md-4">
                @if (item.Picture != null)
                {
                    var imgSrc = string.Format("data:image/gif;base64,{0}", Convert.ToBase64String((byte[])item.Picture));
                    <img src="@imgSrc" class="img-thumbnail" />
                }
                else
                {
                    using (Html.BeginForm("AddPicture", "Home", new { title = item.Title }, FormMethod.Post, null,  new { enctype = "multipart/form-data" }))
                    {
                        <input name="Picture" type="file" />
                        <br />
                        <input type="submit" value="Upload" class="btn-primary" />
                    }
                }
            </div>
        </div>
        <div class="list-group">
            <h6 class="list-group-item-heading">Comments:</h6>
            @foreach (var comm in item.Comments)
            {
                <p class="list-group-item">@comm</p>
            }
            <br />
            @using (Html.BeginForm("AddComment", "Home", new { title = item.Title }))
            {
                <div class="center-block">
                    <h6>Add new comment</h6>
                    @Html.TextBoxFor(m => m.Comment)
                </div>
                <br />
                <input type="submit" value="Comment" class="btn btn-primary" />
            }
        </div>
        <hr />
    }
</div>